
*.log
Excel/~$GameTextZH_CN.xlsx
Excel/~$TalkData_ZH_CN.xlsx
UnrealPakSwitch/Engine/*
*.pyc
UnrealPakSwitch/Octopath_Traveler2-WindowsNoEditor_cnfix.pak
*.ufont
Text/Database/*
~$专有名词对照表.xlsx
Json/TalkData_ZH_CN.json
*.json
*.json
*.json
Json/GameTextZH_CN.json
