*.log
Excel/*
UnrealPakSwitch/*
*.pyc
UnrealPakSwitch/Octopath_Traveler2-WindowsNoEditor_cnfix.pak
*.ufont
Text/Database/*

Json/GameTextJA.json
Json/GameTextEN.json
Json/GameTextZH_CN_orig_2.json
Json/GameTextZH_TW_orig_1.json
Json/TalkData_ZH_CN.json
Json/TalkData_ZH_CN_orig_2.json
Json/TalkData_ZH_TW_orig_1.json
net472/*
~$专有名词对照表.xlsx
